/* Light reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
ol, ul {
    list-style: none;
  }
  
body {
    display: flex;
    flex-direction: row;
    background-color: rgba(119, 136, 153, 0.05);
  }

.background-image {
    background-image: url(assets/Images/torigates.jpg);
    background-size: cover;
    min-width: 35vw;
    min-height: 100vh;      
    position: relative;
}  

.odin-label {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    bottom: 60%;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.odin-img {
    background-image: url(assets/Images/odin-lined.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90%;
    width: 25%;
}

.label-text {
    font-size: 5vw;
    color: white;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 65vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.5;
}

.form-body > div {
    padding: 10px 20px 10px 20px;
}

.head-copy {
    text-align: left;
    padding: 10px;
    max-width: 90%;
    font-size: 1.5vw;
}

.head-copy h1 {
    font-weight: 600;
}

.form > h2 {
    margin-bottom: 10px;
    font-size: 2vw;
    font-weight: 500;
}

.form {
    font-size: max(1.4vw, 0.8rem);
    width: 100%;
    min-height: 30% ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px rgba(128, 128, 128, 0.4);
}

.form input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    height: 4vh;
    width: 17vw;
    appearance: none;
    font-size: 1em;
}

input, label {
    display:block;
    margin-right: 5vw;
}

.name-block,
.contact-block,
.password-block {
    display: flex;
    flex-direction: row;
}

button {
    padding: 15px 30px 15px 30px;
    margin: 15px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vw;
    border: 1px solid #fd885d;
    border-radius: 10px;
    background-color: #fd885d;
    color: black;
    box-shadow: 3px 4px 7px rgba(128, 128, 128, 0.4);
}

.action p {
    font-size: 1.3vw;
    font-weight: 500;
    padding-top: 2vh;
}

p > a {
    text-decoration: none;
    color: #fd885d;
}

input:focus {
    border: 2px solid skyblue;
    box-shadow: 2px 2px 3px skyblue;
    outline: skyblue;
}

input[type='password']:invalid {
    border: 1px solid rgba(255, 0, 0, 0.75);
    box-shadow: 2px 2px 3px rgba(255, 0, 0, 0.75);
}

input[type='password']:invalid + div::after {
    display: block;
    max-width: 17vw;
    color: red;
    text-wrap: wrap;
    content: '*Password does not contain one lowercase, one upper case, one number and is at least 6 digits long.';
    font-size: 1vw;
}